<p id="notice"><%= notice %></p>

<h1>Pdoducts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdoducts.each do |pdoduct| %>
      <tr>
        <td><%= pdoduct.title %></td>
        <td><%= link_to 'Show', pdoduct %></td>
        <td><%= link_to 'Edit', edit_pdoduct_path(pdoduct) %></td>
        <td><%= link_to 'Destroy', pdoduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdoduct', new_pdoduct_path %>
